/* Universal Box Sizing */
*, *::before, *::after {
  box-sizing: border-box;
}

/* Body Styling */
body {
  margin: 0;
  background: linear-gradient(to left, rgb(172, 63, 156), rgb(0, 140, 255));
}

/* Calculator Grid Styling */
.Calculatorgrid {
  display: grid;
  margin-top: 2rem;
  justify-content: center;
  grid-template-columns: repeat(4, 6rem);
  grid-template-rows: minmax(7rem, auto) repeat(5, 6rem);
}

/* Span Two Styling */
.Span-two {
  grid-column: span 2;
}

/* Output Styling */
.Output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, .75);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: .75rem;
  word-wrap: break-word;
  word-break: break-all;
}

/* Calculator Button Styling */
.Calculatorgrid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px solid white;
  outline: none;
  background-color: rgba(255, 255, 255, .75);
}

/* Button Hover/Focus Styling */
.Calculatorgrid > button:hover,
.Calculatorgrid > button:focus {
  background-color: rgba(249, 249, 249, 0.9);
}

/* Output Operand Styling */
.Output .Previousoperand {
  color: rgba(255, 255, 75);
  font-size: 1.5rem;
}

.Output .Currentoperand {
  color: white;
  font-size: 2.5rem;
}
